/* Root pseudo class for variables - changing site color theme here, easy to maintain */
:root {
  /* -------- Main colors --------- */
  --kawaii-dark-pink: rgb(252, 122, 191);
  --kawaii-pink: rgb(252, 202, 224);
  --kawaii-light-pink: rgb(255, 221, 248);
  --kawaii-yellow: rgb(249, 230, 169);
  --kawaii-light-blue: rgb(229, 246, 255);
  --kawaii-purple: rgb(223, 225, 255);
  --white: rgb(255, 255, 255);

  --kawaii-background-pink: rgb(255, 236, 255);
  --kawaii-font-color: rgb(105, 97, 100);

}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
















/* body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */