/* Root pseudo class for variables - changing site color theme here, easy to maintain */
:root {
  /* -------- Main colors --------- */
  --white: rgb(255, 255, 255);
  --kawaii-dark-pink: rgb(252, 122, 191);
  --kawaii-pink: rgb(252, 202, 224);
  --kawaii-light-pink: rgb(255, 221, 248);
  --kawaii-yellow: rgb(249, 230, 169);
  --kawaii-light-blue: rgb(229, 246, 255);
  --kawaii-lilac: rgb(223, 225, 255);
  --kawaii-pastel-lilac: rgb(235, 239, 255);
  --kawaii-purple: rgb(227, 135, 235);
  --kawaii-dark-purple: rgb(193, 87, 170);


  --kawaii-background-pink: rgb(255, 236, 255);
  --kawaii-font-gray: rgb(105, 97, 100);
  --link-transition-duration: 0.5s;


  /* New lilac styling */
  --color-background-light-pink: rgb(255, 243, 249);
  --color-pastel-lilac: rgb(238, 204, 254);
  --color-dark-lilac: rgb(184, 107, 198);
  --color-semi-dark-lilac: rgb(202, 114, 205);
  --color-font-gray: rgb(72, 64, 67);
  --color-highlighted-lilac: rgb(201, 89, 214);

  --color-card-bg: rgb(235, 222, 255);
  --color-btn-lilac: rgb(237, 145, 238);
  --color-extra-dark-bold-lilac: #682c69;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}