/* Root pseudo class for variables */
:root {
  /* Base colors */
  --color-white: rgb(255, 255, 255);

  /* Theme colors */
  --color-primary: rgb(178, 77, 137);
  --color-primary-light: rgb(241, 199, 232);
  --color-primary-dark: rgb(95, 41, 74);

  /* UI Component colors */
  --color-background: rgb(255, 250, 253);
  --color-text: rgb(33, 33, 33);
  --color-heading: var(--color-primary);
  --color-accent: rgb(165, 79, 144);

  /* Component specific */
  --color-nav-bg: var(--color-primary-light);
  --color-card-bg: rgb(254, 239, 249);
  --color-button: rgb(148, 75, 118);
  --color-button-hover: rgb(130, 62, 100);

  /* Other */
  --transition-duration: 0.6s;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}